{% extends "./base.html" %}
{% block title %} Ejercicio 2: Ordenación de matrices {%endblock%}
{% block contenido%}
  <div>Matriz a ordenar: <br>
    {{matrizAOrdenar}}
  </div>
  <br>
  <div style="white-space: pre-wrap">Resultado: <br>{{resul}}</div>
  <div>
    Haga click <a href="/practica1/ej2">aquí</a> para generar y ordenar una nueva matriz.<br>
    También puede generar la matriz incluyéndola en la barra de direcciones (por ejemplo, ~/practica1/ej2/5,6,3,52,5,2,8,5)
  </div>
{%endblock%}
