{% extends "./base.html" %}
{% block title %} Ejercicio 3: Criba de Eratóstenes {%endblock%}
{% block contenido%}
  <div>
    <span>Se muestran a continuación los números primos menores a {{numero}} según el algoritmo de la Criba de Eratóstenes:</span>
    <br>
    {{resul}}
  </div>
  <br>
  <div>
    Haga click <a href="/practica1/ej3">aquí</a> para obtener los primos menores de un número aleatorio.<br>
    También puede elegir el número máximo introduciéndolo en la barra de direcciones (por ejemplo, ~/practica1/ej3/65)
  </div>
{%endblock%}
