<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://kit.fontawesome.com/4072b8bd86.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/practica8.js" crossorigin="anonymous"></script>
    {% block scripts %}{%endblock%}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="bg-light text-dark">
    <header>
      <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="/" class="navbar-brand">
            <img src="/static/img/logo.jpg" alt="" class="d-inline-block align-middle mr-2">
          </a>

          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Práctica 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/practica1/ej1">Ejercicio 1: Adivina el número</a></li>
                  <li><a class="dropdown-item" href="/practica1/ej2">Ejercicio 2: Ordenación de matrices</a></li>
                  <li><a class="dropdown-item" href="/practica1/ej3">Ejercicio 3: Criba de Eratóstenes</a></li>
                  <li><a class="dropdown-item" href="/practica1/ej4">Ejercicio 4: Sucesión de Fibonacci</a></li>
                  <li><a class="dropdown-item" href="/practica1/ej5">Ejercicio 5: Comprobación de cadena de corchetes balanceada</a></li>
                  <li><a class="dropdown-item" href="/practica1/ej6">Ejercicio 6: Expresiones regulares</a></li>
                  <li><a class="dropdown-item" href="/practica1/ejParaNota">Ejercicio para nota: Figuras SVG</a></li>
                </ul>
              </li>
              <li class="nav-item"><a href="/practica4" class="nav-link">Práctica 4</a></li>
              <li class="nav-item"><a href="https://github.com/AlbertoLejarraga" class="nav-link">Mi Github</a></li>
              <li class="nav-item"><a href="#footer" class="nav-link">Contacto</a></li>
              <li class="nav-item"><a href="/modificarPerfil" class="nav-link">Mi perfil</a></li>
              <li class="nav-item"><a href="/practica8" class="nav-link">Práctica 8</a></li>
              <li class="nav-item"><a href="/practica10" class="nav-link font-weight-bold">PRÁCTICA 10</a></li>
            </ul>
            <button type="button" class="btn btn-secondary" id="botonNoche">Cambiar tema</button>
            {% if session["nick"] %}
              <span class="text-light">Hola, {{session["nick"]}}, haz <a href="/logout">click</a> para cerrar sesión.
            {% else %}
              <div class="dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Iniciar sesión</a>
                <ul class="dropdown-menu">
                  <li>
                    <form class="form dropdown-item bg-transparent" method="post" action="/login" id="formLogin">
                      <div class="form-group">
                        <label for="nick">Nick:</label>
                        <input type="text" name="nick" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input type="password" name="pwd" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                      </div>
                    </form>
                  </li>
                  <li><a class="dropdown-item" href="#">Recordar contraseña</a></li>
                  <li><a class="dropdown-item" href="/registro">Crear cuenta</a></li>
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

      <div class="container mt-2 mb-4 bg-light text-dark">
        <div class="row  bg-light text-dark">
            <div class="col-sm-3 bg-light text-dark">
              {% block colIzquierda %}
                <ul class="nav flex-column">
                  <li class="nav-item"><h4 class="nav-link">Últimos sitios</h4></li>
                  {% for web in session["listaWebs"] %}
                    <li class="nav-item"><a class="nav-link active" href="{{web[0]}}">{{web[1]}}</a></li>
                  {% endfor %}
                </ul>
              {% endblock %}
            </div>
          <div class="col-sm-9  bg-light text-dark">
            {% with messages = get_flashed_messages() %}
              {%if messages %}
                {% for msg in messages %}
                  <p class = "bg-info">{{msg}}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div class="container">
              {% block contenido %}
              <h1 class="font-italic text-center">Lorem Ipsum</h1>
              <p class="font-italic text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet metus sit amet nisl sagittis commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hendrerit consectetur mi vel rhoncus. Nulla facilisi. Mauris commodo dignissim tempus. Phasellus sit amet nunc malesuada massa consequat luctus. Suspendisse in massa scelerisque, sagittis tortor vel, molestie mauris. Sed semper ligula id metus rhoncus feugiat. Nulla a tellus ex. Nullam rutrum aliquam tellus vel tincidunt.
                <br>
                Cras quis venenatis sem. Donec rhoncus varius est at pellentesque. Quisque non ornare massa. In eros urna, aliquam ac imperdiet a, commodo eu magna. Phasellus quis pharetra nibh, vel vulputate lectus. Vestibulum leo elit, pulvinar vel eros non, pharetra lobortis arcu. Nunc vitae rutrum turpis, luctus consequat risus. Duis fringilla porta mi quis faucibus. Nunc auctor urna sed tellus porttitor, id eleifend tellus posuere. Aliquam molestie lorem nec ex varius, at sodales sapien fringilla.
                <br>
                Donec laoreet eros ut lorem tristique semper. Suspendisse et tellus lectus. Sed quam neque, fringilla efficitur ligula nec, consectetur pulvinar tellus. Nullam metus lectus, sagittis sit amet blandit in, venenatis eu odio. Suspendisse luctus et erat nec gravida. Praesent sed est blandit, semper nisl non, rutrum metus. Phasellus et lacinia nunc. Aenean et lectus a nibh dictum placerat et id dolor. Cras quis magna vitae nisl ullamcorper aliquam. Integer vulputate pharetra leo. Nam eros felis, maximus in auctor sed, commodo ac nisi.
                <br>
                Cras auctor at ex nec congue. Suspendisse id auctor est, sed maximus metus. Suspendisse eu nibh non dui consequat accumsan sed eu elit. Nullam vitae libero urna. Etiam ac purus a dolor commodo semper. Nam congue tortor in tellus varius feugiat. Cras eget lectus eros. Etiam efficitur porta nisl, at porta nisl aliquam in. Ut nunc est, dictum eu turpis eu, porta venenatis erat. Sed quis cursus nisl. Nullam maximus eu felis nec vehicula. Sed vitae sapien eu urna porta varius. Nullam in augue at magna aliquet ornare. Pellentesque scelerisque nibh feugiat quam vestibulum, sit amet semper nunc dictum. Maecenas nec porta arcu. Phasellus vitae sapien non elit aliquam ornare vitae sed nibh.
                <br>
                Sed in mollis sapien. Aliquam iaculis arcu non est consectetur feugiat eu nec lectus. Donec interdum ex vitae ornare facilisis. Donec vehicula nibh id ex rhoncus, sed molestie ipsum consectetur. Etiam nisl quam, tristique vehicula egestas lacinia, eleifend vel felis. Cras ornare tincidunt libero et egestas. Aliquam rhoncus aliquet vestibulum. Integer placerat, libero a dictum tristique, risus tortor ullamcorper erat, non venenatis tellus lectus quis metus.
              </p>
              {% endblock %}
            </div>
          </div>
        </div>
      </div>

    </body>

    <!-- Footer de https://mdbootstrap.com/docs/jquery/navigation/footer/-->
<footer class="page-footer font-small special-color-dark pt-4 bg-secondary" id="footer">

  <!-- Footer Elements -->
  <div class="container">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating mx-1 " href="https://es-es.facebook.com/alberto.lejarraga">
          <i class="fab fa-facebook-f text-dark"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating mx-1" href="https://twitter.com/alberto_leja">
          <i class="fab fa-twitter text-dark"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating mx-1 text-dark" href="mailto:alejarragar@correo.ugr.es">
          <i class="fas fa-at"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating mx-1 text-dark" href="https://github.com/AlbertoLejarraga">
          <i class="fab fa-github"> </i>
        </a>
      </li>
    </ul>

  </div>
  <div class="text-center text-dark">
    Página creada por Alberto Lejárraga Rubio
  </div>
  <!-- Copyright -->

</footer>
</html>
